@import "tailwindcss";

@import "./_theme/var/_colors.var.css";

@import "./_theme/classes/_bg-class.scss";
@import "./_theme/classes/_btn.class.scss";
@import "./_theme/classes/_text.class.css";

:root {
    --light-color: #fff;
    --gray-color: #f0f0f0;
    --dark-color: #0C0C0C;
    --primary-color: #2175D9;
    --primary-hover-color: #1d64ba;
    --secondary-color: #0F1941;
    --secondary-hover-color: #090f29;
}

body {
    background-color: var(--gray-color);
}